@page "/associaprojeto/{id}"

<PageTitle>AssociaProjeto</PageTitle>
<h3>Associa o Projeto à Tarefa</h3>

<EditForm Model="@Task" OnValidSubmit="@HandleValidResquest">
    <div class="form-group" style="width: 250px;">
        <SfDropDownList TValue="string" TItem="Projeto" DataSource="@Projects"
                        Placeholder="Selecione o Projeto" PopupWidth="250px" PopupHeight="400px">
            <DropDownListFieldSettings Value="Id" Text="Nome"></DropDownListFieldSettings>
            <DropDownListEvents TValue="string" TItem="Projeto" ValueChange="@OnValueChangeProject"></DropDownListEvents>
        </SfDropDownList>
    </div>
    
    <div class="form-group m-3">
        <button type="submit" class="btn btn-warning">Associar</button>
    </div>
</EditForm>