<PageTitle>Tp-Es2</PageTitle>

<h1>Engenharia de Software 2</h1>
<h3>Trabalho Prático</h3>
<h5>Tema A - Sistema de Rastreio de tempo em tarefas</h5>

<br/>

<h6>Trabalho realizado por:</h6>

<div class="row">
    <div class="col-auto">
        <label><strong>Nome :</strong> Basílio Gabriel Braga Barbosa</label>
    </div>
    <div class="col-auto">
        <label><strong>Número :</strong> 20749</label>
    </div>
</div>

<div class="row">
    <div class="col-auto">
        <label><strong>Nome :</strong> Tiago Filipe Barros Soares</label>
    </div>
    <div class="col-auto">
        <label><strong>Número :</strong> 22340</label>
    </div>
</div>