@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu/>
            </div>
        </Authorized>
        <NotAuthorized>
        </NotAuthorized>
    </AuthorizeView>

    <main>
        <div class="top-row px-4">
            <UserButton />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>