@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <UserButton />
            <a href="login" target="_blank">Login</a>
            <a href="registo" target="_blank">Register</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>